@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");


body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.home_bg {
  background-color: #264653;
  color: white;
}

.home_bg p {
  color: #e0e0e0;
}

.btn_orange {
  background-color: #e76f51;
  color: white;
}

.text_orange {
  color: #e76f51;
}

hr {
  margin: 0;
  width: 60px;
  border-top: 4px solid #E76f51;
  color: #E76f51;
}

.gray_scale{
    filter: grayscale(100%);
}

.footer_bg{
  background-color: #0B0D17
;
}

@media screen and (max-width:688px){
  .offers h2{
    font-size: 1rem;
  }
  .offers p{
    font-size: 0.7rem;
  }
  .footer p{
    font-size: 0.7rem;
  }

  .footer h6{
    font-size: 0.8rem;
  }
  
  .main_h1{
    font-size: 1.5rem;
  }

  .footer img{
    width: 40%;
  }

  .offers a{
    font-size: 0.4rem;
  }

  .block{
    display: block;
  }
}